* {
  box-sizing: border-box;
}
form {
  margin-left: 5%;
  padding: 1rem;
  border: 1px gray solid;
  width: 90%;
}
label:after {
  content: "";
  display: table;
  margin-bottom: 1rem;
}

window.onload = function(){
    // Call this function
    drawList();
    // Select the form, attach houseBuilder as onSubmit handler
    var form = document.querySelector("form");
    form.onsubmit = houseBuilder;
    // Get all the <p> tags on the page, print their contents to console
    // (practice from slide 25)
    var paras = document.querySelectorAll('p');
    for(var i=0; i<paras.length; i++){
      // console.log(paras[i]);
    }
    // Select the <h1> and add class of "bright" to it
    // (practice from slide 32)
    var headline = document.querySelector('h1');
    headline.classList.add("bright");
    // Practicing creating & appending new HTML nodes
    var div = document.createElement("div");
    var p = document.createElement("p");
    p.innerHTML = "Easier to read text!";
    var text = document.createTextNode("This is text");
    p.appendChild(text);
    div.appendChild(p);
    var parent = document.getElementById("parent");
    parent.appendChild(div);
  }
